// heading
.heading-heading-4xl {
  font-family: var(--p-font-family-title);
  font-weight: var(--p-font-weight-bold);
  font-size: var(--p-font-size-1500);
  line-height: var(--p-font-line-height-1500);
}
.heading-heading-3xl {
  font-family: var(--p-font-family-title);
  font-weight: var(--p-font-weight-bold);
  font-size: var(--p-font-size-1200);
  line-height: var(--p-font-line-height-1200);
}
.heading-heading-xxl {
  font-family: var(--p-font-family-title);
  font-weight: var(--p-font-weight-bold);
  font-size: var(--p-font-size-1000);
  line-height: var(--p-font-line-height-1000);
}
.heading-heading-xl {
  font-family: var(--p-font-family-title);
  font-weight: var(--p-font-weight-bold);
  font-size: var(--p-font-size-800);
  line-height: var(--p-font-line-height-800);
}
.heading-heading-lg {
  font-family: var(--p-font-family-title);
  font-weight: var(--p-font-weight-bold);
  font-size: var(--p-font-size-650);
  line-height: var(--p-font-line-height-600);
}
.heading-heading-md {
  font-family: var(--p-font-family-title);
  font-weight: var(--p-font-weight-semibold);
  font-size: var(--p-font-size-600);
  line-height: var(--p-font-line-height-600);
}
.heading-heading-sm {
  font-family: var(--p-font-family-title);
  font-weight: var(--p-font-weight-semibold);
  font-size: var(--p-font-size-550);
  line-height: var(--p-font-line-height-500);
}
.heading-heading-xsm {
  font-family: var(--p-font-family-title);
  font-weight: var(--p-font-weight-semibold);
  font-size: var(--p-font-size-500);
  line-height: var(--p-font-line-height-500);
}
