.el-form-item {
  &.is-error {
    .el-input__wrapper, .el-textarea__inner {
      background-color: var(--color-red-200);

      .float-label {
        color: var(--color-gray-990);
      }

      &.is-focus {
        background-color: #fff;
      }
    }

    .el-select__wrapper {
      background-color: var(--color-red-100);
      border-color: var(--color-gray-500);
    }

    .el-input__validateIcon {
      color: var(--color-red-600);
    }

    .el-input {
      .el-input__clear, {
        margin-right: 0;
      }
    }
  }
}
