@use 'sass:map';

@use '../mixins/mixins' as *;
@use '../mixins/var' as *;
@use './font.scss' as *;
@use '../common/var' as *;

.el-table {
  border-bottom: 1px solid #e7ecef;

  .footer-text {
    position: relative;
    background-color: getCssVar('table-header-bg-color');
    height: 44px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 14px;
    color: var(--color-gray-990);

    .count {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }

    .time {
      margin-left: auto;
      text-align: right;
      display: flex;
      gap: 4px;
      align-items: center;
    }
  }

  &.quick-table {
    td.el-table__cell {
      .cell {
        width: 100%;
        padding: 0;
      }
    }

    thead tr th:nth-last-child(2) {
      border-right-color: transparent;
    }
  }

  .el-table__header-wrapper {
    border-bottom: none;
    border-top: 1px solid var(--color-gray-300);
  }

  thead {
    th {
      .cell {
        display: flex;
        align-items: center;
        line-height: 32px;
      }

      &.is-diagonal-header {
        padding: 0;

        > .el-table__diagonal-header.cell {
          justify-content: space-between;
          width: 100%;
          padding: 0 8px;
        }
      }
    }

    th.is-sortable {
      cursor: unset !important;

      .cell {
        align-items: flex-start;

        .icon-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;

          .el-icon.icon-arrow {
            font-size: 12px;
            cursor: pointer;
          }
        }

      }

      .sort-caret-custom {
        &.el-button {
          padding: 5px 6px;
          font-size: var(--p-font-size-550);
        }

        .icon-arrow {
          margin-left: 0;

          path {
            fill: var(--color-gray-300);
          }
        }
      }

      &.ascending {
        .icon-top {
          display: block;
        }

        .icon-arrow {
          transform: rotate(180deg);

          path {
            fill: var(--color-orange-600);
          }
        }
      }

      &.descending {
        .icon-bottom {
          display: block;
        }

        .icon-arrow {
          path {
            fill: var(--color-orange-600);
          }
        }
      }
    }
  }
}

.el-table--border {
  .el-table__cell {
    &:has(.el-input) {
      padding: 0;
    }
  }

  .el-table__body-wrapper {
    .el-table__cell {
      border-right: none;

      &:has(.editable-table-cell) {
        .cell {
          overflow: visible;
        }
      }
    }
  }

  .el-table__cell.el-table-column--selection {
    border-right: none;
  }

  .el-icon {
    &.warning {
      path {
        fill: var(--color-yellow-400);
      }
    }
  }
}

.el-table.is-scrolling-left.el-table--border {
  .el-table__body-wrapper {
    .el-table-fixed-column--left.is-last-column.el-table__cell {
      border-right: none;
    }
  }
}
