@use '../mixins/mixins' as *;
@use '../common/var' as *;

@include b(month-table) {
  font-size: 13px;
  margin: -1px;
  border-collapse: collapse;

  td {
    width: 68px;
    text-align: center;
    padding: 8px 0;
    cursor: pointer;
    position: relative;

    & div {
      height: 48px;
      padding: 6px 0;
      box-sizing: border-box;

      &:hover {
        background-color: getCssVar('color-primary');

        .cell {
          color: $color-white !important;
        }
      }
    }

    &.today {
      div {
        border: 1px solid getCssVar('color-primary');

        .cell {
          color: getCssVar('text-color', 'brand');
        }
      }


      &.start-date .cell,
      &.end-date .cell {
        color: $color-white;
      }
    }

    &.disabled .cell {
      background-color: getCssVar('fill-color', 'light');
      cursor: not-allowed;
      color: getCssVar('text-color', 'placeholder');

      &:hover {
        color: getCssVar('text-color', 'placeholder');
      }
    }

    .cell {
      width: 54px;
      height: 36px;
      display: block;
      line-height: 36px;
      color: getCssVar('datepicker-text-color');
      margin: 0 auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

    }

    &.in-range div {
      background-color: getCssVar('datepicker-inrange-bg-color');

      &:hover {
        background-color: getCssVar('color-primary');

        .cell {
          color: #fff;
        }
      }

      .cell {
        color: getCssVar('text-color', 'brand');
      }
    }

    &.start-date div,
    &.end-date div {
      background-color: getCssVar('color-primary');

      .cell {
        color: $color-white;
      }
    }

    &.start-date .cell,
    &.end-date .cell {
      color: $color-white;
    }

    &.start-date div {
      margin-left: 3px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &.end-date div {
      margin-right: 3px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &.current:not(.disabled) div {
      border-radius: 24px;
      margin-left: 3px;
      margin-right: 3px;
    }

    &.current:not(.disabled) .cell {
      color: $color-white;
      background-color: getCssVar('datepicker-active-color');
    }

    &:focus-visible {
      outline: none;

      .cell {
        outline: 2px solid getCssVar('datepicker-active-color');
        outline-offset: 1px;
      }
    }
  }
}
