@use '../mixins/mixins' as *;
@use '../common/var' as *;

@include b(month-table) {
  font-size: 12px;
  font-weight: 600;
  font-family: var(--p-font-family-title-SemiBold);
  margin: -1px;
  border-collapse: collapse;
  tr {
    display: flex;
    margin-bottom: 8px;
    gap: 8px;

    td {
      text-align: center;
      cursor: pointer;
      position: relative;

      @include b(date-table-cell) {
        height: 44px;
        width: 86px;
        box-sizing: border-box;
        border: 1px solid #c1ccd6;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;


        &:hover {
          background-color: var(--color-orange-orange-600);
          border-color: transparent;

          .el-date-table-cell__text {
            color: #fff !important;
          }
        }
      }

      &.today {
        .#{$namespace}-date-table-cell {
          border: 1px solid var(--color-orange-orange-700);

          .#{$namespace}-date-table-cell__text {
            color: var(--color-orange-orange-700);
          }
        }


        &.start-date .cell,
        &.end-date .cell {
          color: $color-white;
        }
      }

      &.disabled
      .#{$namespace}-date-table-cell {
        border-color: var(--color-gray-gray-100);
        background-color: var(--color-gray-gray-100);

        .#{$namespace}-date-table-cell__text {
          cursor: not-allowed;
          color: #c1ccd6 !important;
        }
      }


      @include b(date-table-cell__text) {
        width: 54px;
        height: 36px;
        display: block;
        line-height: 36px;
        color: getCssVar('datepicker-text-color');
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      &.in-range .#{$namespace}-date-table-cell {
        background-color: getCssVar('datepicker-inrange-bg-color');
        border-color: transparent;

        .el-date-table-cell__text {
          color: #eb5100;
        }

        .cell {
          color: getCssVar('text-color', 'brand');
        }
      }

      &.start-date .#{$namespace}-date-table-cell,
      &.end-date .#{$namespace}-date-table-cell {
        background-color: getCssVar('color-primary');

        .cell {
          color: $color-white;
        }
      }

      &.start-date .#{$namespace}-date-table-cell__text,
      &.end-date .#{$namespace}-date-table-cell__text {
        color: $color-white !important;
      }

      &.start-date .#{$namespace}-date-table-cell {
        margin-left: 3px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      &.end-date .#{$namespace}-date-table-cell {
        margin-right: 3px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }


      &.current:not(.disabled) .#{$namespace}-date-table-cell {
        background-color: var(--color-orange-orange-600);
        border-color: transparent;

        .el-date-table-cell__text {
          color: #fff;
        }
      }

      &:focus-visible {
        outline: none;

        .#{$namespace}-date-table-cell__text {
          outline: 2px solid getCssVar('datepicker-active-color');
          outline-offset: 1px;
        }
      }
    }
  }
}
